<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <li>Team Name: <%=@team_name%></li>
    <li>Team Motto: <%=@team_motto%></li>
    <% @members.each do |member| %>
        <li>Hero Name: <%=member.name%> </li>
        <li>Hero Power: <%=member.power%> </li>
        <li>Hero Biography: <%=member.bio%> </li>
    <%end%>
  </body>
</html>
